.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.open {
    display: flex;
    opacity: 1;
}

.modal .backing {
    position: relative;
    width: 80%;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}

.modal.open .backing {
    transform: scale(1);
}

.modal .container {
    position: relative;
    display: flex;
    align-items: center;
}

.modal .close,
.modal .prev,
.modal .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 24px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s;
    border-radius: 1%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal .close {
    top: 10px;
    right: 10px;
    transform: none;
}

.modal .prev {
    left: 10px;
}

.modal .next {
    right: 10px;
}

.modal .close:hover,
.modal .prev:hover:not(:disabled),
.modal .next:hover:not(:disabled) {
    background-color: #f0f0f0;
    color: #000;
}

.modal .imgContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
}

.modal .imgContainer img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 5px;
}

.modal button:disabled {
    color: #ccc;
    cursor: not-allowed;
}
