.container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.close,
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 24px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s;
    border-radius: 1%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close {
    top: 10px;
    right: 10px;
    transform: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.close:hover,
.prev:hover:not(:disabled),
.next:hover:not(:disabled) {
    background-color: #f0f0f0;
    color: #000;
}

.imgContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
}

.imgContainer img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 5px;
}

.container button:disabled {
    color: #ccc;
    cursor: not-allowed;
}
